@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: slategrey;
    color: #1D1F1E;
    font-family: 'Cantarell', sans-serif;
}

h1 h2 h3 {
    color: #1D1F1E;
    font-family: 'Fjalla One', sans-serif;
}

.app-section {
    border: 1px solid black;
    background: #9BB5C9;
    margin: 0 auto;
    width: 450px;
    height: 700px;
}

/* title and "hero image" */
.camping-type {
    background: url(../images/hero2.png) center;
    height: 120px;
}

.gear-input {
    text-align: center;
}

/* text input form */
#input-gear {
    font-size: 1rem;
}

#add-btn {
    padding: 0.1rem;
}

#user-list {
    display: flex;
    flex-direction: column-reverse;
}

#user-list div {
    background: #6A8DA8;
    margin: 0.2rem 0;
    text-align: right;
    border-radius: 4px;
}

#user-list div>p {
    margin-left: 0.3rem;
    color: #DBCDBF;
    text-align: left;
}